@model NaagarikFeedbackEF.Models.Feedback

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-4">
    <div class="text-center">
        <img src="~/Animated-Flag-Nepal.gif" alt="Nepal Flag" style="height: 50px; margin-bottom: 10px;">
    </div>

    <h1 class="text-danger text-center">Delete Feedback</h1>

    <h3 class="text-center">Are you sure you want to delete this?</h3>

    <div class="card shadow-lg mt-4">
        <div class="card-body">
            <h4 class="card-title text-primary">Feedback Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold"> @Html.DisplayNameFor(model => model.Name) </dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.Name) </dd>

                <dt class="col-sm-3 font-weight-bold"> @Html.DisplayNameFor(model => model.FeedbackType) </dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.FeedbackType) </dd>

                <dt class="col-sm-3 font-weight-bold"> @Html.DisplayNameFor(model => model.FeedbackDescription) </dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.FeedbackDescription) </dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>
